{% extends 'layout.html'%}

{% block content %}
<h1>Contactanos</h1>
<p>
    <span>
    <a href="https://www.instagram.com/caelum.acc/" target="tab">
        <img class="instagram_logo" src="{{ url_for('static', filename='img/instagram_logo.png') }}" 
        type="image/png" >
    </a>
    <a href="https://twitter.com/cossipaula231" target="tab">
        <img class="twitter_logo" src="{{ url_for('static', filename= 'img/twitter_logo_blue.png')}}"
        type="image/png"> 
    </a>
    <a rel="icon" href="https://www.facebook.com/Caelum-Accesorios-101463584918167" target="tab">
        <img class="facebook_logo" src="{{ url_for('static', filename='img/facebook_logo_blue.png') }}" 
        type="image/png">
    </a>
    </span>
</p>
<p>
    <a href="/">De vuelta al inicio</a>
</p>
{% endblock %}

<!-- "{{ url_for('static', filename='img/instal_logo.png') }}" -->
