{%extends 'layout.html'%}

{% block content%}
<h1>Home</h1>

<div style="background:#7FFFD4 !important; height: 320px;" class="jumbotron">
    <h1 class="display">Bienvenidos a Caelum</h1>
    <p class="lead">Bienvenidos, Caelum es un espacio donde pueden encontrar accesorios de acero blanco y plata.
    </p>
    <hr class="my-4">
    <p>Esperamos que lo disfruten tanto como nosotros y nos acompañen durante este trayecto.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Sobre nosotros</a>
</div>

<div class='card-row'>
    <div class="card">
        <h5 class="card-header">Nuestros productos</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/product" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
    
<div class="card-row">
    <div class="card">
        <h5 class="card-header">Contactanos</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/contact" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}
