{%extends 'layout.html'%}

{% block content%}
<h1>Home</h1>

<div style="background:#7FFFD4 !important" class="jumbotron">
    <h1 class="display">Bienvenidos a Caelum</h1>
    <p class="lead">Bienvenidos, Caelum es un espacio donde pueden encontrar accesorios de acero blanco y plata.
    </p>
    <hr class="my-4">
    <p>Esperamos que lo disfruten tanto como nosotros y nos acompañen durante este trayecto.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Sobre nosotros</a>
</div>

<table>
    <tr>
        <td>Lunes</td>
        <td>Martes</td>
        <td>Miercoles</td>
        <td>Jueves</td>
        <td>Viernes</td>
    </tr>
    <tr>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
    </tr>
</table>
<table>
    <tr>
        <td>Lunes</td>
        <td>Martes</td>
        <td>Miercoles</td>
        <td>Jueves</td>
        <td>Viernes</td>
    </tr>
    <tr>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
    </tr>
</table>
<table>
    <tr>
        <td>Lunes</td>
        <td>Martes</td>
        <td>Miercoles</td>
        <td>Jueves</td>
        <td>Viernes</td>
    </tr>
    <tr>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
        <td>Aros</td>
    </tr>
</table>
{% endblock %}

<!-- #7FFFD4 -->
<!-- #1ce7bb -->