{% extends 'layout.html'%}

{% block title %} Productos {% endblock %}

{% block content %}
<!-- Boton de regreso a la vista general -->
<a class="btn btn-primary" href="/products#{{product.0}}">De regreso al catálogo</a>
<!-- Vista previa de la imagen del producto y su descripcion -->
<article class="container p-4 product_view">
    <div class="article-head">
        <img src="{{ product.3 }}" alt="{{ product.2 }}">
    </div>
    <hr class="my-4">
    <div class="article-body">
        <h4 class="product-category">Categoria: {{ product.1 }}</h4>
        <p class="product-description">{{ product.2 }}</p>
    </div>
</article>
{% endblock %}