/* Estilos del pie de pagina para ajustarlo al fondo de la pagina */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: lightcoral;
    border: 1px solid black;
}

/* Division superior del pie de pagina */
footer .footer_div_top{
    background-color: inherit;
    width: 100%;
    height:220px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Division inferior del pie de pagina */
footer .footer_div_bottom{
    position:absolute;
    text-align: center;
    width:100%;
    height:50px;
    padding-top:10px;
    background-color: rgb(199, 71, 71);
    bottom:0px;
}

/* Figura con la lista de contactos */
figure.footer-figure-1{
    padding-top: 15px;
    padding-left: 15px;
}

/* Titulo de la lista de contactos */
figcaption.list_title{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 10px;
}

/* Lista de redes sociales*/
.contact-list{
    list-style-type: none;
}

/* Elementos de la lista */
.contact-list-element{
    padding-bottom: 5px;
}

.footer_link{
    text-decoration-style: none;
    color: inherit;
}

/* Formulario para suscripcion */
.input-group{
    width:320px;
    min-width:100px;
    padding-top: 35px;
    display: "block";
    margin-inline:auto;
}

/* Seccion para ingresar el correo */
input.email-input{
    width:100% !important
}

::placeholder{
    font-size: 13px;
}
/* Seccion de los botones junto al input */
div.input-group-append{
    width:100%;
}
/* Botones de suscripcion y desuscripcion dentro de input-group-append */
footer form .btn{
    width:50%
}

button.btn, input.form-control{
    border-radius: .25rem !important;
}

a.bottom-link{
    font-weight: bold;
    color: inherit;
}

/* Constraints para dispositivos mobiles */
@media only screen and (max-width:700px){
    /* Division superior del pie de pagina */
    footer .footer_div_top{
        height:300px;
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }

    /* Figura con lista de contactos */
    figure.footer-figure-1{
        padding-left:0;
        text-align: center;
    }

    /* Titulo de la lista de contactos */
    figcaption.list_title{
        padding-left:inherit;
    }

    /* Lista de contactos */
    ul.contact-list{
        padding-left:inherit;
    }

    /* Formulario para suscripcion */
    .input-group{
        padding: initial;
    }

    /* Division inferior del pie de pagina */
    footer .footer_div_bottom{
        bottom:unset;
    }
}