footer{
    position: relative;
    /* padding-block-start: 2.5rem; */
    bottom: 0;
    width: 100%;
    background-color: lightcoral; /* Match the color of the body background */
    border: 1px solid black;
}

.footer_div{
    position: absolute;
    background-color: lightcoral; /* Match the color of the body background */
    width: 100%;
    display:flex;
}

.footer-figure-1{
    padding-top: 15px;
    padding-left: 15px;
}

.footer_link{
    text-decoration-style: none;
    color: inherit;
}

.contact-list{
    list-style: none;
}

.contact-list-element{
    padding-bottom: 5px;
}

.input-group{
    width:320px;
    min-width:100px;
    padding: 15px 0 0 15px;
    display: "block";
}
input.email-input{
    width:100% !important
} 
::placeholder{
    font-size: 13px;
}
.input-group-append{
    width:100%;
}

footer form .btn{
    width:50%
}

button.btn, input.form-control{
    border-radius: .25rem !important;
}

@media only screen and (max-width:550px){
    .footer_div{
        display: grid;
        justify-content: center;
    }
    .input-group{
        padding: initial;
    }
}