html, body{
    height: 100%;
    background: #FFCC99;
    color: #000000
}
a:link{
    text-decoration: none;
}

body{
    position: relative;
}

.navbar-brand{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.facebook_logo, .instagram_logo{
    width: 30px;
    height: 30px;
}

.whatsapp_logo{  
    width: 30px;
    height: 30px;
}

.display{
    font-family: "Open Sans", sans-serif;
} 

div.alert p.flash_message{
    margin-top: 1rem;
}
div.alert button.close{
    margin-top: 1rem;
}

.jumbotron{
    height:335px;
    background-color:#7FFFD4 !important;
}
.button-jumbotron{
    margin-top:10px;
}
.content{
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100%;
}
.card-row{
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-row-products{
    padding: 10px 0px 10px
}

/* Contenido scrolleable en /about */
.list-group{
    height:600px;
    overflow-y: scroll;
}
.scrollspy{
    background: #fafafaf6;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

img.founders_img{
    width:125px; 
    height:125px;
    margin-top: 15px;
}
a.founders_name{
    font-style: italic; 
    color: inherit; 
    text-decoration: underline;
}
/* Deslizable de productos en /home */
.carousels{
    display: flex;
    position: relative;
}
#carousel1, #carousel2{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 50%;
}
#carousel2{
    float:right;
    position: absolute;
    right: 0px;
}
.carousel-image{
    height: 500px;
}


/* Clase de la division en /home para contacto */
.contact_div{
    padding:10px;
}
.contact_buttons{
    width:200px;
    height: 40px;
    padding-right:30px;
    padding-left: 30px;
}

/* Clase de visualización de products en /products*/
.media{
    padding-top:25px;
}
.media-item{
    height: 90px;
    width: 90px;
}

.card-row-products a.media{
    color:inherit;
}

/* Article en product_view */
div.article-head{
    display:flex;
    justify-content: center;
}

div.article-head img{
    height: 500px;
    width: 500px;
}

/**/
div.unsuscribe-div{
    width:50%;
    height:350px;
    background:rgba(0, 255, 255, 0.562);
    border-radius:.25rem;
}

div.unsuscribe-div form.input-group{
    width:70%;
    margin-inline: auto;
    padding-top: 15px;

}

.unsuscribe-div .btn{
    width: 100%;
}

/* Constraints para dispositivos móviles*/

@media only screen and (max-width: 600px){
    .jumbotron{
        height:460px;
        text-align: center;
    }
    .contact-span{
        display:flex;
        justify-content: space-around;
        text-align: center;
    }
    .carousels{
        display: flex;
        position: relative;
        height: 125px;
        padding: 0px 10px 0px 10px;
        justify-content: space-around;
    }
    .carousel-indicators{
        display: none;
        position: absolute;
        right:0px;
        bottom:0px;
    }
    #carousel1, #carousel2{
        width: 100px;
        height: 100px;
    }
    #carousel2{
        position: unset;
    }
    .carousel-image{
        width: 100px;
        height: 100px;
    }
    .navbar-brand{
        font-family: Arial, Helvetica, sans-serif;
        font-size:x-large;
    }
    .list-group{
        height:600px;
    }
    .button-jumbotron{
        margin-inline: 45px;
    }
    .button-mobile-products{
        margin-inline: 20px;
    }
    div.article-head img{
        height: 300px;
        width: 300px;
    }
    div.unsuscribe-div{
        width:unset;
        height:370px;
    }
}

