footer{
    position: relative;
    /* padding-block-start: 2.5rem; */
    bottom: 0;
    width: 100%;
    background-color: lightcoral; /* Match the color of the body background */
    border: 1px solid black;
}

.footer_div{
    position: absolute;
    background-color: lightcoral; /* Match the color of the body background */
    width: 100%;
}

.footer-figure-1{
    padding-top: 15px;
    padding-left: 15px;
}

.footer_link{
    text-decoration-style: none;
    color: inherit;
}

.contact-list{
    list-style: none;
}

.contact-list-element{
    padding-bottom: 5px;
}
