html, body{
    height: 100%;
    background: #FFCC99;
    color: #000000
}

body{
    position: relative;
}

.navbar-brand{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.facebook_logo{
    width: 25px;
    height: 25px;
}

.twitter_logo{  
    width: 30px;
    height: 30px;
}

.instagram_logo{
    width: 25px;
    height: 25px;
}

.display{
    font-family: "Open Sans", sans-serif;
} 

.contact_list{
    list-style: none;
}

.list_title{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 10px;
}

.footer_link{
    text-decoration-style: none;
    color: inherit;
}

.content{
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100%;
}

.card-row{
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-group{
    height:500px;
    overflow-y: scroll;
}

.scrollspy-content{
    background: #fafafaf6;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.carousels{
    display: flex;
    position: relative;
}

#carousel1, #carousel2{
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 15px;
    width: 50%;

}

#carousel2{
    float:right;
    position: absolute;
    right: 10px;
}
