{% extends 'layout.html'%}

{% block content %}
<ul class="list-group">
    <nav id="navbar-about" class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-01" href style="font-family: Arial, Helvetica, sans-serif;">Acerca de Nosotros</a>
    </nav>
    <div class= "scrollspy" data-spy="scroll" data-target="#navbar-about" data-offset="0">
        <h4>Quiénes somos</h4>
        <p>
            Caelum surgió como una idea propia. Cuando comencé con este proyecto, me pareció algo innovador para traer a la ciudad de Concordia. Además, creo que es algo sumamente interesante el poder comenzar a emprender a una temprana edad y eso fue lo que me entusiasmó aun más. 
            <br>Está muy buena la idea de animarse a dar un gran paso y empezar un emprendimiento, con el cual se aprenden muchísimas cosas que seguro serán de ayuda más adelante.
        </p>
        <h4>Nuestros objetivos</h4>
        <p>
            El objetivo de este emprendimiento es lograr que cada persona pueda sentirse especial con su accesorio de Caelum. Nos parece necesario el hecho de que todos puedan identificarse con algo, en este caso las joyas. 
        </p>
        <h4>La inspiración detrás de Caelum</h4>
        <p>
            "El nombre Caelum significa “cielo” en latín, y está dedicado a todos mis seres queridos que ya no se encuentran presentes. Ellos fueron los que me inspiraron a empezar todo esto y son los que me motivan día a día a seguirlo."
            <br>
            <img class="founders_img" src="https://instagram.faep24-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/90027054_1118080221867677_7026235502408032433_n.jpg?_nc_ht=instagram.faep24-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=IefGUcCH_cEAX_NRmWt&_nc_tp=15&oh=a8652b8cd0980590f7cfab27629c1c68&oe=5F92A6F5">
        </p>
        <p><a class="founders_name" href="https://www.instagram.com/pau.cossi/?hl=en" style="">Paula Cossi</a>-Fundadora de Caelum</p>
        <h4>Por qué elegirnos</h4>
        <p>
            Nuestro principal interés es diferenciarnos del resto aportando no solo accesorios sino un sentido de pertenencia a los clientes, para que puedan identificarse con el nombre Caelum y todo lo que este conlleva tanto como nosotros lo hacemos.
        </p>
    </div>
</ul>
{% endblock %}