{% extends 'layout.html' %}
{% block content %}
<div class="container pt-3 unsuscribe-div">
    <h1 style="text-align:center">
        Lamentamos que te vayas
    </h1>
    <hr class="my-4">
    <p>Escriba su correo electrónico y dejaremos de enviarles notificaciones sobre nuestros productos y promociones</p>
    <form class="input-group mb-3" action="/delete_suscriber" method="POST">
        <input type="email" name="email" class="form-control" placeholder="Inserte su correo electronico" aria-label="Inserte su correo electronico" aria-describedby="button-addon" required>
        <div class="input-group-append">
            <button class="btn btn-danger" type="submit" id="submit-button">Desuscribirse</button>
        </div>
    </form>
</div>
{% endblock %}